---
title: Contact Tango East
pageclass: contact
---
.container




  %h2
    Argentina Reports
  %ul
    %li
      Argentina and 2003 Convention
      %br
      = link_to "Link", "https://ich.unesco.org/en/state/argentina-AR"
    %li
      Argentina - Periodic Reporting
      %br
      = link_to "Link", "https://ich.unesco.org/en/state/argentina-AR?info=periodic-reporting"
    %li
      Report submitted on 15/12/2013 and examined by the Committee in 2014
      %br
      = link_to "Link", "https://ich.unesco.org/doc/download.php?versionID=33216"
      = link_to "(cache)", data.chrome.rawgit + "2014-national-reports/28635-EN-argentina.pdf"
    %li
      A report will be due by 15/12/2018
    %li
      References
      %ul
        %li= link_to "National Plan for Tango", "https://www.facebook.com/plannacionaldepromociondeltango/"
        %li= link_to "SINCA", "https://www.sinca.gob.ar/"
        %li= link_to "Seleccionado Federal de Tango", "https://www.cultura.gob.ar/noticias/argentina-ya-tiene-su-seleccionado-federal-de-tango-2016/"

    %li
      Summary
      %button.btn.btn-link{"data-toggle"=>"collapse",
        "data-target"=>"#arg-report-2013"}
        View

  #arg-report-2013.collapse.alert.alert-info
    :markdown
      Argentina is a Federal Republic composed of 24 provinces and, as a
      consequence, the 2003 Convention for the Safeguarding of the
      Intangible Cultural Heritage is implemented by each of them within
      its own territory.
      The report nevertheless focuses on federal rather than provincial
      activities.

      The **Dirección Nacional de Patrimonio y Museos** (DNPM, National
      Directorate for Heritage and Museums), under the National Ministry of
      Culture, is the federal body charged with the safeguarding of
      intangible cultural heritage, through its Intangible Cultural Heritage
      Office.
      The DNPM implements on-going actions aimed at government institutions
      and public servants in the provinces, in order to promote the
      development of specific measures at the local level.
      These measures aim to help spread the importance of intangible cultural
      heritage in society.
      The DNPM encourages provincial-level local management agencies for
      intangible cultural heritage to report their activities through a
      survey of institutions related to intangible cultural heritage.

      Four provinces have their own intangible cultural heritage departments.
      Legislation bearing on intangible cultural heritage at the national
      level includes: Federal Law No. 26,118 (2006), which adopts the 2003
      Convention; Federal Law No. 26,558 (2009), which recognizes the
      Chamamé as an Argentine Cultural Heritage; and Federal Law No.
      26,855 (2013), which establishes November 8 as the National Day
      of Afro-Argentine and Afro Culture.
      At the provincial level, laws include Arts and Craft Provincial
      Law No. 9,486 of Entre Rios (2003), which regulates the promotion
      and development of crafts; several other provinces have recognized
      specific elements or bearers.

      Currently, the National Board is the only institution that provides
      specific training on intangible cultural heritage, with training
      activities mainly directed at public servants in the 24 provinces
      and intangible cultural heritage bearers.
      The **Instituto Nacional de Antropología y Pensamiento Latinoamericano**
      (INAPL, National Institute of Anthropology and Latin American Thought)
      is the research and documentation centre of the DNPM.
      The **Instituto Nacional de Musicología ‘Carlos Vega’** (Carlos Vega
      National Musicology Institute) is another important research institute
      that holds documentation.
      Another important repository is the **Sistema de Información Cultural
      de la Argentina** (SInCA, Cultural Information System of Argentina),
      which is available online.
      As part of its regional initiatives, the National Board encourages the
      study of intangible cultural heritage as a measure for its effective
      safeguarding.
      As a result, the following documents have been prepared: State of
      the Art of Intangible Cultural Heritage in Argentina; Report on the
      Situation of the Intangible Cultural Heritage of Afro-descendants
      in Argentina; and National Diagnostic Report on the Inventory of the
      Guaraní Cultural Universe.

      Until now, inventorying work has been undertaken in Argentina outside
      the framework of a national inventory programme, for which planning and
      training have nevertheless begun.
      The inventories and surveys undertaken thus far include a ‘Fiestas
      and Festivals’ survey, which is visible in the Cultural Map of
      Argentina, developed by SInCA under the initiative of the National
      Ministry of Culture.
      It is structured around a single domain (holidays and festive events).
      An inventory in the City of Buenos Aires focussed on ‘El Filete
      Porteño’, a traditional painting technique, as part of the preparations
      for its nomination to the Representative List.
      INAPL has also undertaken an inventory of the Guarani cultural universe,
      as part of a regional project under the auspices of the Regional Centre
      for the Safeguarding of the Intangible Cultural Heritage of Latin
      America (CRESPIAL), a category 2 centre under the auspices of UNESCO
      based in Peru.

      Some promotional initiatives undertaken by the National Directorate
      include a programme focussed on people of African descent, the Our
      Traditional Foods programme, the **National Plan for the Promotion
      of Tango** and the Programme for Strengthening Expressions of Argentine
      Carnival. 
      The Mercado de Artesanías Tradicionales de la República Argentina
      (MATRA, Argentine Traditional Crafts Market) declares leading
      exponents of craft production as Living Human Treasures.
      Various training sessions are also available for interested
      communities or bearers as part of the promotion of elements inscribed
      on the Representative List, namely relating to ‘fileteadores’ and
      ‘milongueros’ in Buenos Aires.

      With regard to education, some cultural institutions in Chaco,
      Santa Cruz, Salta and Santiago del Estero are active in the
      transmission of knowledge related to intangible cultural heritage,
      such as music, dance and traditional handicrafts.
      The Celebration of the National Day of Afro-Argentine and
      Afro Culture and the promotion of Afro culture should by law be
      included in the curricula of educational institutions.
      MATRA also has a project dedicated to fostering the transmission
      of traditional production techniques.
      Higher education programmes in Cultural Management, Heritage
      Management, Folklore, Anthropology (Social and Cultural or Social),
      and Cultural Tourism also provide teaching that is relevant to
      aspects of intangible cultural heritage.
      These programmes are offered at the undergraduate and graduate levels
      by national public universities and private institutions.
      Non-formal means of transmission of various traditional practices are
      considered an indispensable source of training and are highly valued
      socially, and there has been a significant proliferation of workshops
      and/or demonstrations.

      As far as bilateral, sub-regional, regional and international
      cooperation is concerned, Argentina considers its participation as
      a member of CRESPIAL to be very important, and participates in regular
      Governing Board meetings, in the Executive Committee and in special
      meetings to design strategies, implementation plans and monitor results.
      It also supports CRESPIAL by actively participating in two regional
      projects: the ‘Guaraní’ Cultural Universe; and the Afro-descendant
      Cultural Universe.
      The National Directorate has also cooperated in the development of
      the Living Heritage Project, organized by the UNESCO Montevideo Office.

      The inscription of Tango on the Representative List in 2009, together
      with Uruguay, has stimulated an increase in the number of milongas,
      tango clubs, non governmental festivals, dance classes and orchestras
      and there is now an increased interest among young people in
      the element.
      It has also raised awareness about the existence of intangible
      aspects of heritage which was previously confined almost exclusively
      to monuments and other material elements.

      In 2013, two important institutions were created: (1) The Centro
      de Investigaciones y Estudios sobre el Tango (Tango Research and
      Study Centre), an open and participatory space where, together with
      the various social agents, different projects, activities and
      problems are discussed; and (2) the Polo Bandoneón, designed to
      preserve, teach and disseminate bandoneon playing.
      A pilot community based inventory on milongas was begun in 2013
      under the Living Heritage Project (UNESCO Montevideo Office).
      Working alongside experts and officials, community members
      interviewed milonga organizers, communicated with tango dancers,
      tango learners, tourists and DJs and visited several milongas to
      make written, photographic and taped reports.

      The present report on Tango was prepared on the basis of several
      meetings held with the Asociación de Organizadores de Milongas
      (Association of Milonga Organizers) and the Asociacion de
      Maestros Bailarines y Coreografos de Tango Argentino (Association
      of Tango Argentino Masters, Dancers and Choreographers), within the
      framework of the Centro de Investigaciones y Estudios sobre el
      Tango (Tango Research and Study Centre).


  %h2
    Uruguay Reports
  %ul
    %li
      Uruguay and the 2003 Convention
      %br
      = link_to "Link", "https://ich.unesco.org/en/state/uruguay-UY"
    %li
      Uruguay - Periodic Reporting
      %br
      = link_to "Link", "https://ich.unesco.org/en/state/uruguay-UY?info=periodic-reporting"
    %li
      Report submitted on 15/12/2013 and examined by the Committee in 2014
      %br
      = link_to "Link", "https://ich.unesco.org/doc/download.php?versionID=33228"
      = link_to "(cache)", data.chrome.rawgit + "2014-national-reports/28627-EN-uruguay.pdf"
    %li
      A report will be due by 15/12/2019
    %li
      Summary
      %button.btn.btn-link{"data-toggle"=>"collapse",
        "data-target"=>"#urg-report-2013"}
        View

  #urg-report-2013.collapse.alert.alert-info
    :markdown
      Relevant legislation includes a draft Heritage Act (prepared in 2009)
      which includes the safeguarding of intangible cultural heritage;
      it had not yet been enacted by the time of reporting.
      The national body in overall charge of intangible cultural heritage
      is the Ministry of Education and Culture (MEC) whose Comisión del
      Patrimonio Cultural de la Nación (CPCN, Commission for National
      Cultural Heritage) is in charge of planning heritage-related policies
      and defining general criteria for the safeguarding of cultural
      heritage elements.
      Since the ratification of the 2003 Convention for the Safeguarding
      of the Intangible Cultural Heritage, the CPCN has been in charge
      of its implementation through cooperation with national government
      authorities and departmental and local governments, as well as
      with civil society and international bodies.
      Other significant actors are the Dirección Nacional de Cultura
      (National Culture Directorate), which is in charge of nationwide
      cultural development through the promotion of cultural citizenship
      and the cultural rights of citizens, and the National Commission of
      Uruguay for UNESCO (COMINAL).

      Training in the safeguarding of intangible cultural heritage is
      provided through three degree courses offered at the University of
      the Republic: a Degree Course in the Promotion of Cultural Elements
      (emphasizing cultural heritage, which includes a one-semester course
      on intangible cultural heritage); a Diploma in Cultural Management
      Studies; the Postgraduate Diploma in ‘Carnival and Heritage’ (includes
      ethnography, documentation and recording techniques, etc.);
      and a Degree Course in Museology (which includes references to
      intangible cultural heritage).

      Documentation relating to intangible cultural heritage is held at the
      following bodies: the Centro Nacional de Documentación Musical Lauro
      Ayestarán (CDM, Lauro Ayestarán National Centre for Musical
      Documentation), which focuses on documentation, audio and
      audio-visual recordings; the Centro de Investigación, Documentación y
      Difusión de las Artes Escénicas (CIDDAE, Centre for Research on and
      Documentation and Dissemination of the Performing Arts) of the
      Municipality of Montevideo; the State Radio and Television Broadcasting
      Service (audio and audio-visual recordings); and the Carnival Museum.
      The latter also has an online public archive with images and documents
      related to the history of Uruguayan Carnival.

      Thus far, inventorying has been undertaken by the CPCN through two
      surveys of intangible cultural heritage:
      (1) on Traditional Celebrations of Uruguay (2007-2009); and
      (2) a pilot Inventory of Intangible Cultural Heritage to test new
      methods for improving community participation, covering Tango and
      Candombe.
      A National Inventory of Intangible Cultural Heritage is being planned,
      to be administered by the CPCN.
      Although it is a national instrument, departmental governments may
      also identify the intangible cultural heritage present in their
      respective territories.
      The criteria for inclusion of elements on the inventory will include:
      that it is still practised and acts as a cultural reference for
      the community or cultural space;
      that the importance of gender and youth are taken into account in the
      process of transmission and revitalization of the element;
      that inclusion is based on dialogue with the cultural community
      and their agreement as to the heritage character of the element.
      The inventory will take into account the risks and threats to the
      element and current safeguarding measures and/or plans.
      Each regional inventory will be updated after ten years although
      earlier updates will be possible.

      Community involvement will be built into the various stages of
      inventorying, including identification, selection, documentation-based
      research, formulating recommendations for safeguarding, etc.
      This will involve joint meetings and workshops and drawing up a map
      of actors to help to identify the institutions, organizations,
      groups and individuals related to each element.
      Non-governmental organizations will be included in the identification
      of intangible cultural heritage, if they are considered to be relevant
      actors.

      As a measure to promote the function of intangible cultural heritage
      in society, the Programme for the Strengthening of Traditional
      Celebrations under the MEC National Culture Directorate (since 2007)
      grants direct support for organizing celebrations by contracting
      artists or technical and logistical services.
      It also designs strategies for dissemination and raising awareness
      among the population.
      The Uruguay Integrates Programme (with EU support, 2007-2015) aims at
      consolidating equitable development by supporting sector-oriented
      policies for social cohesion;
      it supports initiatives related to the intangible and tangible heritage.
      The Competitive Culture Grants programme allocates public funding to
      culture and arts projects and the programme has a sector-specific
      fund earmarked for heritage, which has been allocated to 15 intangible
      cultural heritage-related projects.
      To raise awareness of intangible cultural heritage, elements of
      Uruguayan intangible cultural heritage have been chosen by the CPCN
      as central themes of Heritage Day and practices which raises its
      visibility at the national, regional and municipal levels.

      With regard to education, Uruguay has made much use of information
      and communications technologies to integrate intangible
      cultural heritage into school curricula.
      The Portal of the Ceibal Plan is aimed at supplying each primary or
      secondary pupil with an Internet-enabled laptop;
      over 600,000 laptops have already been delivered.
      This programme provides digital learning resources on intangible
      cultural heritage generally and the Tango and Candombe in particular.
      The portal of the National Public Education Administration (a search
      engine for educational resources with unrestricted access for
      children and young people, primary and secondary-school teachers
      and the families of students at all levels) also includes teaching
      and learning resources for intangible cultural heritage.

      Public training courses in aspects of intangible cultural heritage are
      also on offer, e.g. on traditional styles of playing the Candombe drums.
      A travelling exhibition on the traditional use of medical plants has
      been organized.
      The exhibition is aimed at re-examining traditions and fostering the
      responsible use of medical plants, with a special focus on young people.
      It has visited several communities in the Rocha Department.
      The Arandú project used popular education techniques, play and
      recreational strategies and specific training in the field of
      digital photography and audio-visual recording.
      It was directed at 16-20 young people and was intended to reorient
      and deepen their knowledge of their communities, culture and
      traditions, with the help of community and group activities.
      These two projects were funded by the Competitive Culture Grants
      programme (National Culture Directorate).
      For capacity building in safeguarding, since 2007 a Congress on
      Identity and Heritage has been held by the Departmental Boards of
      the Council for Technical and Professional Education for secondary
      and vocational college students, to teach them about aspects of
      heritage, including intangible cultural heritage.

      Uruguay has cooperated with various bilateral, sub-regional, regional
      and international projects and programmes.
      These include: the Living Heritage project (2013) promoted by
      UNESCO’s Cluster Office in Montevideo;
      the ‘Slave Route: Resistance, Freedom, Heritage’ project organized
      by UNESCO (since 2009);
      the ‘Cultural Universe of Afro-Descendants in Latin America’ project
      of CRESPIAL (since 2010);
      and the ‘Safeguarding the Intangible Cultural Heritage of the
      Guaraní Nation’ project conducted by CRESPIAL with the participation
      of Argentina, Brazil, Paraguay and Uruguay.
      It has also taken part in the Cultural Itinerary of the Guaraní,
      Moxo and Chiquito Jesuit Missions in the MERCOSUR Area initiative
      of the Cultural Heritage Commission of the MERCOSUR.
      Uruguay also enjoys bilateral cooperation with Brazil, Spain and
      Argentina.

      Uruguay has two elements inscribed on the Representative List:
      Candombe and its sociocultural space: a community practice (2009);
      and Tango (2009, multinational with Argentina).
      Since their inscription, efforts have been made to promote and
      reinforce both these elements.
      In some cases, these efforts are similar: adopting legislation to
      dedicate a National Day to the element; creating specific bodies
      within government institutions (the Candombe Advisory Group in the
      MEC, which coordinates with the various national bodies and the
      Interministerial Commission for the Support of Tango, with the
      participation of the Ministries of Foreign Affairs, Education and
      Culture and Tourism and Sports); the production and dissemination of
      CDs, DVDs and documentary films on the elements; and dedicating the
      National Music Award of the MEC to exponents of Candombe and Tango
      in different years.

      The preparation of the present report on Tango was rendered possible
      by the participation of individuals, groups and/or associations and
      foundations through workshops, meetings and interviews.
      In the case of Candombe, the Candombe Advisory Group and different
      actors within the MEC form a permanent committee that meets on a
      weekly basis and thus could easily collaborate on the report.




